.example{
   display: flex;
   padding-bottom: 5px;
   justify-content: space-between;
   width: auto;
   flex-wrap: wrap;
}

code{
    background-color: #ffaaff;
    text-align: left;
    flex-grow: 1;
}

.example button {
    float: right;
}